.tutorial {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 30px;

  h1 {
    text-align: center;
    font-size: 35px;

    @include m-phone {
      font-size: 25px;
    }

    @include sm-phone {
      font-size: 25px;
    }
  }
}
